<div class="container">
  <div class="grand-design">
    <div class="lines">
      <hr class="style12">
      <br>
      <hr class="style12">
      <br>
      <hr class="style12">
      <br>
      <hr class="style12">
      <br>
      <hr class="style12">
      <br>
      <hr class="style12">
      <br>
      <hr class="style12">
      <br>
      <hr class="style12">
      <br>
      <hr class="style12">
      <br>
      <hr class="style12">
      <br>
    </div>
    <div class="logo-circle-holder">
      <div class="logo-circle">
        <img class="logo-circle-img" src="https://i.pinimg.com/originals/3f/f7/95/3ff7953bfd0c22c754b1e7745a85ef87.png" alt="Placeholder">
      </div>
    </div>
    <div class="title-circle-holder">
      <div class="title-circle">
        <img class="title-circle-img" src="http://c8.alamy.com/comp/HNHDXD/view-from-below-to-a-concrete-overpass-HNHDXD.jpg" alt="Placeholder">
        <div class="text">
          <h1>H E L L O !</h1>
          <h2>Welcome to Fanning Design</h2>
          <h2>___</h2>
          <p>WE ARE A MULTI-DISCIPLINARY </p>
          <p>GRAPHIC STUDIO BASED</p>
          <p>OUT OF BANFF, ALBERTA</p>
        </div>
      </div>
    </div>
  </div>

